<header>

  <fa-icon 
    [icon]="['fas', 'th']"
    size="lg">
  </fa-icon>

  <select
    (change)="loadTable($event.target.value)">

    <option value="">Select DDB table ...</option>

    <option
      [selected]="tableName[0] === (ddb$ | async)?.table?.TableName"
      [value]="tableName[0]"
      *ngFor="let tableName of tableNames">
      {{ tableName[1] }}
    </option>

  </select>

  <button 
    (click)="reloadTable()"
    *ngIf="(ddb$ | async)?.table"
    matTooltip="Reload table"
    mat-icon-button>
    <fa-icon 
      [icon]="['fas', 'fast-backward']"
      size="lg">
    </fa-icon>
  </button>

  <button 
    (click)="loadMoreRows()"
    *ngIf="(ddb$ | async)?.lastEvaluatedKey"
    matTooltip="Show next set of rows"
    mat-icon-button>
    <fa-icon 
      [icon]="['fas', 'step-forward']"
      size="lg">
    </fa-icon>
  </button>

</header>
