<nav
  *ngIf="(ddb$ | async) as ddb; else noData">

  <fa-icon 
    [icon]="['fas', 'th']"
    size="lg">
  </fa-icon>

  <select
    (change)="loadTable($event.target.value)">

    <option value="">Select DDB table ...</option>

    <option
      [selected]="tableName[0] === (ddb$ | async)?.table?.TableName"
      [value]="tableName[0]"
      *ngFor="let tableName of tableNames">
      {{ tableName[1] }}
    </option>

  </select>

  <button 
    (click)="reloadTable()"
    *ngIf="ddb.table"
    matTooltip="Reload table"
    mat-icon-button>
    <fa-icon 
      [icon]="['fas', 'sync']"
      size="lg">
    </fa-icon>
  </button>

  <div
    *ngIf="ddb.rows">
    Rows {{ ddb.index + 1 }}&mdash;{{ ddb.index + ddb.rows.length }}
  </div>

  <button 
    (click)="loadMoreRows()"
    *ngIf="ddb.lastEvaluatedKey"
    matTooltip="Show more rows"
    mat-icon-button>
    <fa-icon 
      [icon]="['fas', 'forward']"
      size="lg">
    </fa-icon>
  </button>

</nav>

<ng-template #noData>
</ng-template>
