<header>

  <fa-icon 
    [icon]="['fas', 'th']"
    size="lg">
  </fa-icon>

  <select
    (change)="onLoadTable($event.target.value)">

    <option value="">Select DDB table ...</option>

    <option
      [selected]="tableName[0] === (ddb$ | async)?.table?.TableName"
      [value]="tableName[0]"
      *ngFor="let tableName of tableNames">
      {{ tableName[1] }}
    </option>

  </select>

  <a
    (click)="onLoadRows()"
    *ngIf="(ddb$ | async)?.lastEvaluatedKey"
    mat-button>
    More ...
  </a>

</header>
