<h3 class="drawer-header">

  <div class="icon">

    <fa-icon
      [icon]="desc.icon.split(' ')"
      [ngStyle]="{color: desc.color}"
      *ngIf="desc.icon"
      size="lg">
    </fa-icon>

  </div>

  <div class="title">
    {{ desc.name | libBreakable }}
  </div>

</h3>

<form
  (submit)="close()"
  [formGroup]="propsForm"
  [libRxfSubmit]="propsForm"
  *ngIf="propsForm"
  novalidate>

  <input
    formControlName="path"
    type="hidden">

  <mat-accordion>

    <mat-expansion-panel
      formGroupName="versioning">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Versioning
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-radio-group
        class="group"
        formControlName="Status">

        <mat-radio-button value="Enabled">
          Enable versioning
        </mat-radio-button>
        <mat-radio-button value="Suspended">
          Suspend versioning
        </mat-radio-button>

      </mat-radio-group>

    </mat-expansion-panel>

    <mat-expansion-panel
      formGroupName="accelerate">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Transfer Acceleration
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-radio-group
        class="group"
        formControlName="Status">

        <mat-radio-button value="Enabled">
          Enable acceleration
        </mat-radio-button>
        <mat-radio-button value="Suspended">
          Suspend acceleration
        </mat-radio-button>

      </mat-radio-group>

    </mat-expansion-panel>

  </mat-accordion>

  <div class="okAndCancel">

    <a
      (click)="close()"
      mat-button>
      Cancel
    </a>

    <button
      [disabled]="propsForm.invalid || !metadata"
      color="primary"
      mat-raised-button
      type="submit">
      OK
    </button>

  </div>

</form>
