<h3 class="drawer-header">

  <div class="icon">

    <fa-icon
      [icon]="desc.icon.split(' ')"
      [ngStyle]="{color: desc.color}"
      *ngIf="desc.icon"
      size="lg">
    </fa-icon>

  </div>

  <div class="title">
    {{ desc.name | libBreakable }}
    <div class="subtitle">
      {{ desc.storage }}
    </div>
  </div>

</h3>

<form
  (submit)="close()"
  [formGroup]="propsForm"
  [libRxfSubmit]="propsForm"
  *ngIf="propsForm"
  novalidate>

  <input
    formControlName="path"
    type="hidden">

  <mat-accordion>

    <!-- ACCELERATE -->

    <mat-expansion-panel
      formGroupName="accelerate">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Acceleration    
          <div class="drawer-label">
            {{ metadata?.acceleration?.Status || 'Off' }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-radio-group
        class="group"
        formControlName="Status">

        <div class="drawer-label">
          Use endpoint <a>{{ desc.name }}.s3-accelerate.amazonaws.com</a> for faster data transfers, which will incur an additional fee.
        </div>

        <mat-radio-button value="Enabled">
          Enable acceleration
        </mat-radio-button>
        <mat-radio-button value="Suspended">
          Suspend acceleration
        </mat-radio-button>

      </mat-radio-group>

    </mat-expansion-panel>

    <!-- ENCRYPTION -->

    <mat-expansion-panel
      formGroupName="encryption">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Encryption
          <div class="drawer-label">
            {{ encryptionEnabled || 'None' }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div formGroupName="ServerSideEncryptionConfiguration">
        <div formArrayName="Rules">
          <div [formGroupName]="0">
            <div 
              class="group"
              formGroupName="ApplyServerSideEncryptionByDefault">

              <mat-radio-group
                (change)="enableEncryption($event.value)"
                class="group"
                formControlName="SSEAlgorithm">

                <div class="drawer-label">
                  Automatically encrypt objects when stored in Amazon S3.
                  <b>Note</b> this property does not affect existing objects in your bucket.
                </div>

                <mat-radio-button value="">
                  None
                </mat-radio-button>
                <mat-radio-button value="AES256">
                  AES-256
                  <div class="drawer-label">
                    Use Server-Side Encryption with Amazon S3-Managed Keys (SSE-S3).
                  </div>
                </mat-radio-button>
                <mat-radio-button value="aws:kms">
                  AWS-KMS
                  <div class="drawer-label">
                    Use Server-Side Encryption with AWS KMS-Managed Keys (SSE-KMS).
                  </div>
                </mat-radio-button>

              </mat-radio-group>

              <!-- NOTE: can't use *ngIf because of form validation -->

              <mat-form-field
                [ngStyle]="{display: (encryptionEnabled === 'aws:kms')? 'block' : 'none'}">
                <input
                  [required]="encryptionEnabled === 'aws:kms'"
                  formControlName="KMSMasterKeyID"
                  placeholder="Select a key"
                  matInput
                  type="text">
              </mat-form-field>

              <div
                *ngIf="encryptionEnabled" 
                class="drawer-label">
                Amazon S3 evaluates and applies bucket policies before applying bucket encryption settings. Even if you enable bucket encryption settings, your PUT requests without encryption information will be rejected if you have bucket policies to reject such PUT requests. Check your bucket policy and modify it if required.
              </div>

            </div>
          </div>
        </div>
      </div>

    </mat-expansion-panel>

    <!-- LOGGING -->

    <mat-expansion-panel
      formGroupName="logging">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Logging
          <div class="drawer-label">
            {{ loggingEnabled? 'On' : 'Off' }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="group">

        <mat-radio-group
          (change)="enableLogging($event.value === 'on')"
          [value]="loggingEnabled? 'on' : 'off'"
          class="group">

          <div class="drawer-label">
            Set up access log records that provide details about access requests.
          </div>

          <mat-radio-button value="off">
            Disable logging
          </mat-radio-button>
          <mat-radio-button value="on">
            Enable logging
          </mat-radio-button>

        </mat-radio-group>

        <!-- NOTE: can't use *ngIf because of form validation -->

        <div 
          class="group"
          formGroupName="LoggingEnabled"
          [ngStyle]="{display: loggingEnabled? 'block' : 'none'}">

          <elaws-select-bucket
            [required]="loggingEnabled"
            formControlName="TargetBucket"
            placeholder="Select target bucket">
          </elaws-select-bucket>

          <mat-form-field>
            <input
              [required]="loggingEnabled"
              formControlName="TargetPrefix"
              placeholder="Enter target prefix"
              matInput
              type="text">
          </mat-form-field>

          <div class="drawer-label">
            This prefix will be assigned to all log records.
          </div>

        </div>

      </div>

    </mat-expansion-panel>


    <!-- TAGGING -->

    <mat-expansion-panel
      formGroupName="tagging">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Tags
          <div class="drawer-label">
            {{ metadata?.tagging?.TagSet?.length? (metadata.tagging.TagSet.length | i18nPlural: tagLabelMapping) : 'None' }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="group">

        <div class="drawer-label">
          Use tags to track your cost against projects or other criteria.
        </div>

        <elaws-key-value
          [asArrayOfHashes]="['Key', 'Value']"
          duplicateKeyMessage="Tag name is already in use"
          formControlName="TagSet"
          placeholder="New tag name">

          <ng-template #keyIcon>
            <fa-icon
              [icon]="['fas', 'key']"
              flip="horizontal"
              size="xs"
              style="color: var(--primary-color)">
            </fa-icon>
            &nbsp;
          </ng-template>

          <ng-template #valueIcon>
            <fa-icon
              [icon]="['fas', 'tag']"
              size="xs"
              style="color: var(--primary-color)">
            </fa-icon>
            &nbsp;
          </ng-template>

        </elaws-key-value>

      </div>

    </mat-expansion-panel>

    <!-- VERSIONING -->

    <mat-expansion-panel
      formGroupName="versioning">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Versioning
          <div class="drawer-label">
            {{ metadata?.versioning?.Status || 'Off' }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="group">

        <div class="drawer-label">
          Keep multiple versions of an object in the same bucket.
        </div>

        <mat-radio-group
          class="group"
          formControlName="Status">

          <mat-radio-button value="Enabled">
            Enable versioning
          </mat-radio-button>
          <mat-radio-button value="Suspended">
            Suspend versioning
            <div class="drawer-label">
              This suspends the creation of object versions for all operations but preserves any existing object versions.
            </div>
          </mat-radio-button>

        </mat-radio-group>

      </div>

    </mat-expansion-panel>

    <!-- WEBSITE -->

    <mat-expansion-panel
      formGroupName="website">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Website Hosting
          <div class="drawer-label">
            {{ websiteEnabled }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="group">

        <mat-radio-group
          (change)="enableWebsite($event.value)"
          [value]="websiteEnabled"
          class="group">

          <div class="drawer-label">
            Host a static website at <a>http://{{ desc.name }}.s3-website-{{ desc.storage }}.amazonaws.com</a> that doesn't require server-side technologies.
          </div>

          <mat-radio-button value="Off">
            Disable website hosting
          </mat-radio-button>

          <mat-radio-button value="On">
            Use this bucket to host a website
          </mat-radio-button>

          <mat-radio-button value="Redirect">
            Redirect requests
          </mat-radio-button>

        </mat-radio-group>

        <!-- NOTE: can't use *ngIf because of form validation -->

        <div
          [ngStyle]="{display: (websiteEnabled === 'On')? 'block' : 'none'}">

          <div
            formGroupName="IndexDocument">
                      
            <mat-form-field>
              <input 
                [required]="websiteEnabled === 'On'"
                formControlName="Suffix"
                placeholder="Index document"
                matInput
                type="text">
            </mat-form-field>

          </div>

          <div
            formGroupName="ErrorDocument">
                      
            <mat-form-field>
              <input 
                [required]="websiteEnabled === 'On'" 
                formControlName="Key"
                placeholder="Error document"
                matInput
                type="text">
            </mat-form-field>

          </div>

        </div>

        <!-- NOTE: can't use *ngIf because of form validation -->

        <div
          [ngStyle]="{display: (websiteEnabled === 'Redirect')? 'block' : 'none'}">

          <div
            formGroupName="RedirectAllRequestsTo">
                      
            <mat-form-field>
              <input 
                [required]="websiteEnabled === 'Redirect'"
                formControlName="HostName"
                placeholder="Target bucket or domain"
                matInput
                type="text">
            </mat-form-field>

            <mat-form-field>
              <mat-select 
                [required]="websiteEnabled === 'Redirect'"
                formControlName="Protocol"
                placeholder="Protocol">
                <mat-option value="http">http</mat-option>
                <mat-option value="https">https</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

        </div>

      </div>

    </mat-expansion-panel>

  </mat-accordion>

  <div class="okAndCancel">

    <a
      (click)="close()"
      mat-button>
      Cancel
    </a>

    <button
      [disabled]="propsForm.invalid || !metadata"
      color="primary"
      mat-raised-button
      type="submit">
      OK
    </button>

  </div>

</form>
