<h3 class="drawer-header">

  <div class="icon">

    <fa-icon
      [icon]="desc.icon.split(' ')"
      [ngStyle]="{color: desc.color}"
      *ngIf="desc.icon"
      size="lg">
    </fa-icon>

  </div>

  <div class="title">
    {{ desc.name | libBreakable }}
  </div>

</h3>

<form
  (submit)="close()"
  [formGroup]="propsForm"
  [libRxfSubmit]="propsForm"
  novalidate>

  <mat-radio-group
    class="group"
    formControlName="versioning">

    <b>Versioning</b>

    <mat-radio-button value="Enabled">
      Enable versioning
    </mat-radio-button>
    <mat-radio-button value="Suspended">
      Suspend versioning
    </mat-radio-button>

  </mat-radio-group>

  <div class="okAndCancel">

    <a
      (click)="close()"
      mat-button>
      Cancel
    </a>

    <button
      [disabled]="propsForm.invalid"
      color="primary"
      mat-raised-button
      type="submit">
      OK
    </button>

  </div>

</form>
