<h3 class="drawer-header">

  <div class="icon">

    <fa-icon
      [icon]="['fab', 'bitbucket']"
      style="color: var(--mat-brown-400)"
      size="lg">
    </fa-icon>

  </div>

  <div class="title">
    Create Bucket
  </div>

</h3>

<form
  (submit)="close()"
  [formGroup]="createForm"
  [libRxfSubmit]="createForm"
  novalidate>

  <div class="group">
              
    <mat-form-field>
      <input 
        formControlName="Bucket"
        placeholder="Enter bucket name"
        matInput
        type="text">
    </mat-form-field>

    <elaws-select-region
      formControlName="Region"
      placeholder="Select region">
    </elaws-select-region>

    <mat-radio-group
      class="group"
      formControlName="ACL">

      <div>Permissions</div>

      <div class="drawer-label">
        Select a canned ACL. Settings can be changed later through the Properties menu.
      </div>

      <mat-radio-button 
        value="private">
        Private
      </mat-radio-button>

      <mat-radio-button 
        value="public-read">
        Public (read only)
      </mat-radio-button>

      <mat-radio-button 
        value="public-read-write">
        Public (read/write)
      </mat-radio-button>

    </mat-radio-group>

  </div>

  <div class="okAndCancel">

    <a
      (click)="close()"
      mat-button>
      Cancel
    </a>

    <button
      [disabled]="createForm.invalid"
      color="primary"
      mat-raised-button
      type="submit">
      OK
    </button>

  </div>

</form>
