<h3 class="drawer-header">

  <div class="icon">

    <fa-icon
      [icon]="desc.icon.split(' ')"
      [ngStyle]="{color: desc.color}"
      *ngIf="desc.icon"
      size="lg">
    </fa-icon>

  </div>

  <div class="title">
    {{ desc.name | libBreakable }}
  </div>

</h3>

<form
  (submit)="close()"
  [formGroup]="propsForm"
  [libRxfSubmit]="propsForm"
  *ngIf="propsForm"
  novalidate>

  <input
    formControlName="path"
    type="hidden">

  <mat-accordion>

    <ng-container 
      formGroupName="head">

      <!-- ENCRYPTION -->

      <mat-expansion-panel
        formGroupName="encryption">

        <mat-expansion-panel-header>
          <mat-panel-title>
            Encryption
            <div 
            [ngClass]="{invalid: !propsForm.get('head.encryption').valid}"
            class="drawer-label">
              {{ metadata?.head?.encryption?.SSEAlgorithm || 'Default' }}
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="group">

          <div 
            *ngIf="desc.isFile && desc.isFileVersioned"
            class="drawer-label">
            When versioning is enabled and the encryption of an object is changed, a copy of the original will be created as a new version.
          </div>

          <div 
            *ngIf="desc.isFileVersion"
            class="drawer-label">
            The encryption of an existing object version cannot be changed. Instead, change the latest version and a copy of the original will be created as a new version.
          </div>

          <mat-radio-group
            [libRxfDisabled]="desc.isFileVersion"
            class="group"
            formControlName="SSEAlgorithm">

            <mat-radio-button value="">
              Default
            </mat-radio-button>

            <mat-radio-button 
              #AES256 
              value="AES256">
              AES-256
              <div class="drawer-label">
                Use Server-Side Encryption with Amazon S3-Managed Keys (SSE-S3).
              </div>
            </mat-radio-button>

            <mat-radio-button 
              #AWSKMS 
              value="aws:kms">
              AWS-KMS
              <div class="drawer-label">
                Use Server-Side Encryption with AWS KMS-Managed Keys (SSE-KMS).
              </div>
            </mat-radio-button>

          </mat-radio-group>

          <!-- NOTE: can't use *ngIf because of form validation -->

          <mat-form-field
            [@showHide]="AWSKMS.checked? 'shown' : 'hidden'">
            <input
              [required]="AWSKMS.checked"
              formControlName="KMSMasterKeyID"
              placeholder="Select a key"
              matInput
              type="text">
          </mat-form-field>

        </div>

      </mat-expansion-panel>

    </ng-container>

    <ng-container 
      formGroupName="head">

      <!-- METADATA -->

      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title>
            Metadata
            <div 
            [ngClass]="{invalid: !propsForm.get('head.metadata').valid}"
            class="drawer-label">
            {{ metadataCount() | i18nPlural: metadataLabelMapping }}
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="group">

          <div class="drawer-label">
            Metadata is used as HTTP headers when objects are deployed.
          </div>

          <div 
            *ngIf="desc.isFile && desc.isFileVersioned"
            class="drawer-label">
            When versioning is enabled and the metdata of an object is changed, a copy of the original will be created as a new version.
          </div>

          <div 
            *ngIf="desc.isFileVersion"
            class="drawer-label">
            The metadata of an existing object version cannot be changed. Instead, change the latest version and a copy of the original will be created as a new version.
          </div>

          <elaws-key-value
            [keyConstraints]="metadataKeys"
            duplicateKeyMessage="Metadata is already in use"
            formControlName="metadata"
            placeholder="New metadata">

            <ng-template #keyIcon>
              <fa-icon
                [icon]="['fas', 'key']"
                flip="horizontal"
                size="xs"
                style="color: var(--primary-color)">
              </fa-icon>
              &nbsp;
            </ng-template>

            <ng-template #valueIcon>
              <fa-icon
                [icon]="['fas', 'tag']"
                size="xs"
                style="color: var(--primary-color)">
              </fa-icon>
              &nbsp;
            </ng-template>

          </elaws-key-value>

        </div>

      </mat-expansion-panel>

    </ng-container>

    <!-- PERMISSIONS aka Acl -->

    <mat-expansion-panel
      formGroupName="acl">

      <input
        formControlName="Owner"
        type="hidden">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Permissions    
          <div 
            [ngClass]="{invalid: !propsForm.get('acl').valid || (metadata?.acl?.Summary === 'Public')}"
            class="drawer-label">
            {{ metadata?.acl?.Summary || 'Private' }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="group">

        <div class="acl">

          <div>&nbsp;</div>
          <div style="grid-column-start: span 2">&nbsp;</div>
          <div style="justify-self: center; grid-column-start: span 2"><b>ACL</b></div>

          <div>&nbsp;</div>
          <div><b>+R</b></div>
          <div><b>+W</b></div>
          <div><b>+R</b></div>
          <div><b>+W</b></div>

          <ng-container 
            *ngFor="let Grant of metadata?.acl?.Grants; let i = index;"
            formArrayName="Grants">

            <ng-container
              [formGroupName]="i">

              <div>{{ Grant.Grantee }}</div>

              <input
                formControlName="Grantee"
                type="hidden">

              <mat-checkbox
                formControlName="ReadObjects">
              </mat-checkbox>


              <mat-checkbox
                formControlName="WriteObjects">
              </mat-checkbox>


              <mat-checkbox
                formControlName="ReadAcl">
              </mat-checkbox>


              <mat-checkbox
                formControlName="WriteAcl">
              </mat-checkbox>

            </ng-container>

          </ng-container>

        </div>

      </div>

    </mat-expansion-panel>

    <ng-container 
      formGroupName="head">

      <!-- STORAGE -->

      <mat-expansion-panel
        formGroupName="storage">

        <mat-expansion-panel-header>
          <mat-panel-title>
            Storage Class
            <div 
            [ngClass]="{invalid: !propsForm.get('head.storage').valid}"
            class="drawer-label">
              {{ metadata?.head?.storage?.StorageClass || desc.storage }}
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-radio-group
          [libRxfDisabled]="desc.isFileVersion"
          class="group"
          formControlName="StorageClass">

          <div 
            *ngIf="desc.isFile && desc.isFileVersioned"
            class="drawer-label">
            When versioning is enabled and the storage class of an object is changed, a copy of the original will be created as a new version.
          </div>

          <div 
            *ngIf="desc.isFileVersion"
            class="drawer-label">
            The storage class of an existing object version cannot be changed. Instead, change the latest version and a copy of the original will be created as a new version.
          </div>

          <mat-radio-button value="STANDARD">
            Standard
            <div class="drawer-label">
              For frequently accessed data. Stores object data redundantly across multiple geographically separated Availability Zones.
            </div>
          </mat-radio-button>

          <mat-radio-button value="STANDARD_IA">
            Standard-IA
            <div class="drawer-label">
              For infrequently accessed data. Stores object data redundantly across multiple geographically separated Availability Zones. Minimum 30-day retention period and minimum 128 KB object size.
            </div>
          </mat-radio-button>

          <mat-radio-button value="ONEZONE_IA">
            One Zone-IA
            <div class="drawer-label">
              For infrequently accessed data. Stores object data in only one Availability Zone at a lower price than Standard-IA. Minimum 30-day retention period and minimum 128 KB object size.
            </div>
          </mat-radio-button>

          <mat-radio-button value="REDUCED_REDUNDANCY">
            Reduced redundancy
            <div class="drawer-label">
              For frequently accessed data. Stores noncritical, reproducible data at lower levels of redundancy than Standard.
            </div>
          </mat-radio-button>

        </mat-radio-group>

      </mat-expansion-panel>

    </ng-container>

    <!-- TAGGING -->

    <mat-expansion-panel
      formGroupName="tagging">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Tags
          <div 
            [ngClass]="{invalid: !propsForm.get('tagging').valid}"
            class="drawer-label">
            {{ metadata?.tagging?.TagSet?.length? (metadata.tagging.TagSet.length | i18nPlural: tagLabelMapping) : 'None' }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="group">

        <div class="drawer-label">
          Tag objects to search, organize and manage access.
        </div>

        <elaws-key-value
          [asArrayOfHashes]="['Key', 'Value']"
          duplicateKeyMessage="Tag name is already in use"
          formControlName="TagSet"
          placeholder="New tag name">

          <ng-template #keyIcon>
            <fa-icon
              [icon]="['fas', 'key']"
              flip="horizontal"
              size="xs"
              style="color: var(--primary-color)">
            </fa-icon>
            &nbsp;
          </ng-template>

          <ng-template #valueIcon>
            <fa-icon
              [icon]="['fas', 'tag']"
              size="xs"
              style="color: var(--primary-color)">
            </fa-icon>
            &nbsp;
          </ng-template>

        </elaws-key-value>

      </div>

    </mat-expansion-panel>

  </mat-accordion>

  <ng-container 
    formGroupName="head">

    <ng-container 
      formGroupName="touched">

      <input 
        [ngModel]="propsForm.get('head.encryption').touched" 
        formControlName="encryption"
        type="hidden">

      <input 
        [ngModel]="propsForm.get('head.metadata').touched" 
        formControlName="metadata"
        type="hidden">

      <input 
        [ngModel]="propsForm.get('head.storage').touched" 
        formControlName="storage"
        type="hidden">

    </ng-container>

  </ng-container>

  <div class="okAndCancel">

    <a
      (click)="close()"
      mat-button>
      Cancel
    </a>

    <button
      [disabled]="propsForm.invalid || !metadata"
      *ngIf="!metadata?.loading"
      color="primary"
      mat-raised-button
      type="submit">
      OK
    </button>

    <mat-spinner
      *ngIf="metadata?.loading"
      diameter="24">
    </mat-spinner>

  </div>

</form>
