<h3 class="drawer-header">

  <div class="icon">

    <fa-icon
      [icon]="desc.icon.split(' ')"
      [ngStyle]="{color: desc.color}"
      *ngIf="desc.icon"
      size="lg">
    </fa-icon>

  </div>

  <div class="title">
    {{ desc.name | libBreakable }}
  </div>

</h3>

<form
  (submit)="close()"
  [formGroup]="propsForm"
  [libRxfSubmit]="propsForm"
  *ngIf="propsForm"
  novalidate>

  <input
    formControlName="path"
    type="hidden">

  <mat-accordion>

    <!-- STORAGE -->

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Storage Class
          <div class="drawer-label">
            {{ metadata?.storage || desc.storage }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-radio-group
        [libRxfDisabled]="desc.isFileVersion"
        class="group"
        formControlName="storage">

        <mat-radio-button value="STANDARD">
          Standard
          <div class="drawer-label">
            For frequently accessed data. Stores object data redundantly across multiple geographically separated Availability Zones.
          </div>
        </mat-radio-button>

        <mat-radio-button value="STANDARD_IA">
          Standard-IA
          <div class="drawer-label">
            For infrequently accessed data. Stores object data redundantly across multiple geographically separated Availability Zones. Minimum 30-day retention period and minimum 128 KB object size.
          </div>
        </mat-radio-button>

        <mat-radio-button value="ONEZONE_IA">
          One Zone-IA
          <div class="drawer-label">
            For infrequently accessed data. Stores object data in only one Availability Zone at a lower price than Standard-IA. Minimum 30-day retention period and minimum 128 KB object size.
          </div>
        </mat-radio-button>

        <mat-radio-button value="REDUCED_REDUNDANCY">
          Reduced redundancy
          <div class="drawer-label">
            For frequently accessed data. Stores noncritical, reproducible data at lower levels of redundancy than Standard.
          </div>
        </mat-radio-button>

      </mat-radio-group>

    </mat-expansion-panel>

    <!-- TAGGING -->

    <mat-expansion-panel
      formGroupName="tagging">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Tags
          <div class="drawer-label">
            {{ metadata?.tagging?.TagSet?.length? (metadata.tagging.TagSet.length | i18nPlural: tagLabelMapping) : 'None' }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="group">

        <div class="drawer-label">
          Tag objects to search, organize and manage access.
        </div>

        <elaws-key-value
          [asArrayOfHashes]="['Key', 'Value']"
          duplicateKeyMessage="Tag name is already in use"
          formControlName="TagSet"
          placeholder="New tag name">

          <ng-template #keyIcon>
            <fa-icon
              [icon]="['fas', 'key']"
              flip="horizontal"
              size="xs"
              style="color: var(--primary-color)">
            </fa-icon>
            &nbsp;
          </ng-template>

          <ng-template #valueIcon>
            <fa-icon
              [icon]="['fas', 'tag']"
              size="xs"
              style="color: var(--primary-color)">
            </fa-icon>
            &nbsp;
          </ng-template>

        </elaws-key-value>

      </div>

    </mat-expansion-panel>

  </mat-accordion>

  <div class="okAndCancel">

    <a
      (click)="close()"
      mat-button>
      Cancel
    </a>

    <button
      [disabled]="propsForm.invalid || !metadata"
      *ngIf="!metadata?.loading"
      color="primary"
      mat-raised-button
      type="submit">
      OK
    </button>

    <mat-spinner
      *ngIf="metadata?.loading"
      diameter="24">
    </mat-spinner>

  </div>

</form>
