:host {
  display: block;
  height: 100%;
}

main {
  height: 100%;

  .noop {
    align-items: center;
    color: var(--mat-grey-400);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;

    .message {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      font-size: 2rem;
      justify-content: flex-start;
      max-width: 400px;

      fa-icon {
        margin-right: 16px;
      }

    }

  }

}
