<ng-container
  *ngFor="let desc of descriptorsByPath[path]">

  <elaws-row
    (hydrated)="row.hydrated = $event"
    [attr.path]="desc.path"
    [contextMenu]="contextMenu"
    [desc]="desc"
    [dictionary]="dictionary"
    [filter]="desc.isBucket? s3filter[desc.name] : null"
    [libHydrated]="desc.path"
    [level]="level + 1"
    [path]="desc.path"
    [prefs]="prefs"
    [selection]="selection"
    [view]="view"
    #row>
  </elaws-row>

  <elaws-branch
    [contextMenu]="contextMenu"
    [descriptorsByPath]="descriptorsByPath"
    [dictionary]="dictionary"
    [level]="level + 1"
    [path]="desc.path"
    [prefs]="prefs"
    [s3]="s3"
    [s3filter]="s3filter"
    [selection]="selection"
    [view]="view"
    *ngIf="tree.isExpanded(desc)">
  </elaws-branch>

</ng-container>
