<div
  [formGroup]="keyValueForm"
  class="key-value">

  <ng-container
    *ngFor="let key of keys">
      
    <mat-form-field>

      <span 
        *ngIf="valueIcon"
        matPrefix>
        <ng-container
          [ngTemplateOutlet]="valueIcon">
        </ng-container>
      </span>

      <input
        [errorStateMatcher]="errorStateMatcher"
        [formControlName]="key"
        [libRxfRequired]="true"
        [placeholder]="key"
        matInput
        type="text">

    </mat-form-field>

    <a
      (click)="deleteKey(key)"
      [disabled]="disabled"
      matTooltip="Remove this key"
      mat-icon-button>
      <fa-icon
        [icon]="['fas', 'times']">
      </fa-icon>
    </a>

  </ng-container>
    
  <mat-form-field>

    <span 
      *ngIf="keyIcon"
      matPrefix>
      <ng-container
        [ngTemplateOutlet]="keyIcon">
      </ng-container>
    </span>

    <mat-select
      [disabled]="disabled"
      [errorStateMatcher]="errorStateMatcher"
      [placeholder]="placeholder"
      *ngIf="keyConstraints"
      #newKey>
      <mat-option
        [value]="key"
        *ngFor="let key of keyConstraints">
        {{ key }}
      </mat-option>
    </mat-select>

    <input
      [disabled]="disabled"
      [errorStateMatcher]="errorStateMatcher"
      [placeholder]="placeholder"
      *ngIf="!keyConstraints"
      matInput
      type="text"
      #newKey>

  </mat-form-field>

  <a
    (click)="addKey(newKey.value)"
    [disabled]="disabled || !newKey?.value"
    matTooltip="Add a new key"
    mat-icon-button>
    <fa-icon
      [icon]="['fas', 'plus']">
    </fa-icon>
  </a>

  <mat-error *ngIf="duplicateKey">
    {{ duplicateKeyMessage }}
  </mat-error>

</div>
