:host {
  display: block;
  // TODO: this has to be constrained because the key and valueIcon templates
  // push it too wide
  width: 100px;
}

.instructions {
  display: block;
  font-size: 0.66rem;
  font-weight: 300;
  line-height: 1.25;
}

.key-value {
  align-items: center;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr auto;
}
