<div
  [formGroup]="selectPeriodForm">

  <mat-form-field>

    <ng-container matPrefix>
      <ng-content select="[prefix]"></ng-content>
    </ng-container>

    <mat-select
      [libRxfDisabled]="disabled"
      [libRxfRequired]="required"
      [placeholder]="placeholder"
      formControlName="selectPeriod">

      <ng-container
        *ngFor="let period of periodKeys">

        <mat-option
          [value]="period">
          {{ periods[period] }}
        </mat-option>

      </ng-container>

    </mat-select>

    <ng-container matSuffix>
      <ng-content select="[suffix]"></ng-content>
    </ng-container>

  </mat-form-field>

</div>
