:host {
  display: block;
  overflow: auto;
  padding: 16px;
}

form {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;

  .buttons {
    align-items: center;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  .group {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: auto;
  }

}
