:host {
  display: block;
  width: 100%;
}

.boolean {
  color: var(--accent-color);
}

.datetime {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  height: 128px;
}

.nowrap {
  white-space: nowrap;
}

.number {
  text-align: right;
}
