:host {
  display: block;
  height: 100%;
  overflow: auto
}

main {
  height: 100%;

  .no-data {
    align-items: center;
    color: var(--mat-grey-400);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;

    .message {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      fa-icon {
        margin-right: 8px;
      }

    }

  }

  table {
    border-collapse: collapse;

    td {
      font-size: 0.75rem;
      min-width: 2rem;
      padding: 6px;
      vertical-align: top;

      &.gridlines {
        border: 1px dotted var(--mat-grey-700);
      }

      &.index {
        font-weight: bold;
        text-align: right;
      }

    }

  }

}
