<main>

  <div
    *ngIf="isLoadingRows()"
    class="no-data">

    <fa-icon
      [icon]="['fas', 'spinner']"
      [pulse]="true"
      size="4x">
    </fa-icon>

  </div>

  <div
    *ngIf="isTableEmpty()"
    class="no-data">

    <div class="message">

      <fa-icon
        [icon]="['fas', 'exclamation']"
        size="2x">
      </fa-icon>

      <div>
        No rows match filter criteria
      </div>

    </div>

  </div>

  <div
    *ngIf="!isTableSelected()"
    class="no-data">

    <div class="message">

      <fa-icon
        [icon]="['fas', 'exclamation']"
        size="2x">
      </fa-icon>

      <div>
        Please select a DDB table
      </div>

    </div>

  </div>

</main>
