<main>

  <table
    *ngIf="pane.isTablePopulated()">

    <tr
      *ngFor="let row of ddb.rows; let ix = index">

      <td
        [ngClass]="{gridlines: prefs.showGridLines}"
        class="index">
        {{ ddb.index + ix + 1 }}.
      </td>

      <td
        [ngClass]="{gridlines: prefs.showGridLines,
                    hover: hoverColumn === scheme.column}"
        *ngFor="let scheme of schemes">

        <elaws-cell
          [row]="row"
          [scheme]="scheme">
        </elaws-cell>
        
      </td>

    </tr>

  </table>

  <div
    *ngIf="pane.isLoadingRows()"
    class="no-data">

    <fa-icon
      [icon]="['fas', 'spinner']"
      [pulse]="true"
      size="4x">
    </fa-icon>

  </div>

  <div
    *ngIf="pane.isTableEmpty()"
    class="no-data">

    <div class="message">

      <fa-icon
        [icon]="['fas', 'exclamation']"
        size="2x">
      </fa-icon>

      <div>
        No rows match filter criteria
      </div>

    </div>

  </div>

  <div
    *ngIf="!pane.isTableSelected()"
    class="no-data">

    <div class="message">

      <fa-icon
        [icon]="['fas', 'exclamation']"
        size="2x">
      </fa-icon>

      <div>
        Please select a DDB table
      </div>

    </div>

  </div>

</main>
