<lib-scroll-container
  (onScroll)="newTable.emit()"
  [contextMenu]="contextMenu"
  [contextMenuSubject]="null">

  <table
    *ngIf="pane.isTablePopulated()">

    <tr
      (click)="onSelect($event, ix)"
      (contextmenu)="onContextMenu($event, ix)"
      [contextMenu]="contextMenu"
      [contextMenuSubject]="row"
      [ngClass]="{selected: ddbselection.rows.includes(ix)}"
      *ngFor="let row of ddb.rows; let ix = index; trackBy: trackRows">

      <td
        [ngClass]="{gridlines: prefs.showGridLines}"
        class="index">
        {{ ddb.index + ix + 1 }}.
      </td>

      <td
        [ngClass]="{gridlines: prefs.showGridLines,
                    hover: hoverColumn === scheme.column,
                    selected: (scheme.column === ddbselection.column)
                           || (scheme.column === ddbview.sortColumn)}"
        *ngFor="let scheme of schemes; trackBy: trackCols">

        <elaws-cell
          [prefs]="prefs"
          [row]="row"
          [scheme]="scheme">
        </elaws-cell>
        
      </td>

    </tr>

  </table>

  <div
    *ngIf="pane.isLoadingRows()"
    class="no-data">

    <fa-icon
      [icon]="['fas', 'spinner']"
      [pulse]="true"
      size="4x">
    </fa-icon>

  </div>

  <div
    *ngIf="pane.isTableEmpty()"
    class="no-data">

    <div class="message">

      <fa-icon
        [icon]="['fas', 'exclamation']"
        size="2x">
      </fa-icon>

      <div>
        No rows match filter criteria
      </div>

    </div>

  </div>

  <div
    *ngIf="!pane.isTableSelected()"
    class="no-data">

    <div class="message">

      <fa-icon
        [icon]="['fas', 'exclamation']"
        size="2x">
      </fa-icon>

      <div>
        Please select a DDB table
      </div>

    </div>

  </div>

</lib-scroll-container>

<context-menu>

  <ng-template
    contextMenuItem
    (execute)="onExecute($event, 'create')">
    <div>Create new item...</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="onExecute($event, 'delete')"
    [enabled]="isRow.bind(this)">
    <div>Delete selected item(s)...</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="onExecute($event, 'update')"
    [enabled]="isRow.bind(this)">
    <div>Update selected item(s)...</div>
  </ng-template>

</context-menu>
