<form
  (submit)="close()"
  [formGroup]="filterForm"
  [libRxfSubmit]="filterForm"
  *ngIf="filterForm"
  novalidate>

  <input
    formControlName="tableName"
    type="hidden">

  <div class="drawer-label">
    All filters are AND'ed together.
  </div>

  <div
    class="columns"
    formGroupName="filter">

    <ng-container
      *ngFor="let column of columns">

      <ng-container
        [formGroupName]="column"
        [ngSwitch]="ddbschema[column].type">

        <mat-form-field
          *ngSwitchCase="'boolean'"
           style="grid-column-start: span 2">
          <fa-icon 
            [icon]="['fas', 'filter']"
            [ngClass]="{un: !comparand.value}"
            class="filtered"
            matPrefix>
          </fa-icon>
          <mat-select
            [placeholder]="column"
            #comparand
            formControlName="comparand">
            <mat-option 
              value="">
            </mat-option>
            <mat-option 
              value="true">
              &#x2b24;&nbsp;TRUE
            </mat-option>
            <mat-option 
              value="false">
              &#x2b55;&nbsp;FALSE
            </mat-option>
          </mat-select>
          <a
            (click)="clearComparand(column)"
            mat-button
            mat-icon-button
            matSuffix>
            <fa-icon 
              [icon]="['fas', 'times']">
            </fa-icon>
          </a>
        </mat-form-field>

        <ng-container
          *ngSwitchCase="'number'">

          <mat-form-field>
            <fa-icon 
              [icon]="['fas', 'filter']"
              [ngClass]="{un: !comparand.value}"
              class="filtered"
              matPrefix>
            </fa-icon>
            <input
              #comparand
              formControlName="comparand"
              placeholder="Low {{ column }}"
              matInput
              pattern="[0-9]*"
              type="text">
            <a
              (click)="clearComparand(column)"
              mat-button
              mat-icon-button
              matSuffix>
              <fa-icon 
                [icon]="['fas', 'times']">
              </fa-icon>
            </a>
          </mat-form-field>

          <mat-form-field>
            <input
              [libRxfDisabled]="!comparand.value"
              formControlName="comparand2"
              placeholder="High"
              matInput
              pattern="[0-9]*"
              type="text">
            <a
              (click)="clearComparand2(column)"
              mat-button
              mat-icon-button
              matSuffix>
              <fa-icon 
                [icon]="['fas', 'times']">
              </fa-icon>
            </a>
          </mat-form-field>

        </ng-container>

        <mat-form-field
          *ngSwitchCase="'string'"
           style="grid-column-start: span 2">
          <fa-icon 
            [icon]="['fas', 'filter']"
            [ngClass]="{un: !comparand.value}"
            class="filtered"
            matPrefix>
          </fa-icon>
          <input
            [placeholder]="column"
            #comparand
            formControlName="comparand"
            matInput
            type="text">
          <a
            (click)="clearComparand(column)"
            mat-button
            mat-icon-button
            matSuffix>
            <fa-icon 
              [icon]="['fas', 'times']">
            </fa-icon>
          </a>
        </mat-form-field>

      </ng-container>

    </ng-container>

  </div>

  <div class="okAndCancel">

    <a
      (click)="close()"
      mat-button>
      Cancel
    </a>

    <button
      [disabled]="filterForm.invalid"
      color="primary"
      mat-raised-button
      type="submit">
      OK
    </button>

  </div>

</form>
