<form
  (submit)="close()"
  [formGroup]="viewAndSchemaForm"
  [libRxfSubmit]="viewAndSchemaForm"
  *ngIf="viewAndSchemaForm"
  novalidate>

  <input
    formControlName="tableName"
    type="hidden">

  <input
    formControlName="atLeastOne"
    type="hidden">

  <div class="drawer-label">
    Column types may be coerced and names edited as desired.
  </div>

  <div class="columns">

    <div style="grid-column-start: span 2">&nbsp; </div>

    <div class="drawer-label">Show as ...</div>

    <div class="drawer-label">
      <div class="type">
        <div>Bool</div>
        <div>Num</div>
        <div>Str</div>
      </div>
    </div>

    <ng-container
      *ngFor="let column of columns">

      <ng-container
        formGroupName="visibility">

        <mat-checkbox
          [formControlName]="column">
        </mat-checkbox>

      </ng-container>

      <ng-container
        formGroupName="schema">

        <ng-container
          [formGroupName]="column">

          <input
            formControlName="column"
            type="hidden">

          <div>
            <input formControlName="tag">
          </div>

          <select
            formControlName="showAs">
            <option value=""></option>
            <option value="currency">{{ 0 | currency }}</option>
            <option value="date">Date</option>
            <option value="nowrap">Nowrap</option>
            <option value="url">URL</option>
          </select>

          <mat-radio-group
            formControlName="type"
            class="type">

            <mat-radio-button 
              value="boolean">
            </mat-radio-button>

            <mat-radio-button 
              value="number">
            </mat-radio-button>

            <mat-radio-button 
              value="string">
            </mat-radio-button>

          </mat-radio-group>
          
        </ng-container>

      </ng-container>

    </ng-container>

  </div>

  <div class="okAndCancel">

    <a
      (click)="close()"
      mat-button>
      Cancel
    </a>

    <button
      [disabled]="viewAndSchemaForm.invalid"
      color="primary"
      mat-raised-button
      type="submit">
      OK
    </button>

  </div>

</form>
